[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django="*"
django-bootstrap5 = "*"
pillow = "*"
serializer = "*"
python-decouple = "*"
requests = "*"
pyjwt = "*"
djangorestframework = "*"
serializers = "*"

[dev-packages]

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
