{%extends 'base.html'%}
{%load static %}

{%block title%}Blog{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{%static 'styles/blog.css'%}">
{%endblock%}
{%block content%}

        <div class="headBlog">
            <h1>{{title}}</h1>    
            <a href="{% url "create_blog" %}">create_blog</a>
        </div>
        <h3 style="text-align: center;">{{description}}</h3>
        {% now "Y-m-d" %}
        <span>___</span>
        {% now "H:i:s" %}
        <div class="cards">
            {% for i in blogs%}
                <div class="card">
                    <h3 style="color: orange;">{{i.title|title}}</h3>
                    <p>{{i.description}}</p>
                    <hr style="width: 40%; margin-left: 0;">
                    <span>{{i.date_posted}}</span>
                    <div class="action-btns">
                        <a href="{%url 'update-blog' i.id %}">edit</a>
                        <a class="del" href="{%url 'delete-blog' i.id%}">delete</a>
                    </div>
                </div>
            {% endfor %}
    
        </div>

{%endblock%}
