{%extends "base.html"%}
{%load static %}

{%block title%}Posts{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{%static "styles/posts.css"%}">
{%endblock%}

{%block content%}
    <div class="posts-cover">

        <div class="headerPost">
            <h1>Posts</h1>
            <a href="{% url 'create_post'%}">create_post</a>
        </div>
        <hr>
        
        <div class="cover-cards">
            {%for post in posts%}
                <div class="post-card">
                    <h4>{{post.title}}</h4>
                    <p>{{post.content}}</p>
                    <b>{{post.author}}</b> <br> <i>{%now 'Y-m-d'%}</i>
                    <div class="action-btns">
                        <a href="{%url 'view_post' post.id %}">view</a>
                        <a href="{%url 'update-post' post.id %}">edit</a>
                        <a class="del" href="{%url 'delete-post' post.id %}">delete</a>
                    </div>
                </div>
            {%endfor%}
        </div>

    </div>
{%endblock%}