{%extends "base.html"%}
{%load static %}

{%block title%}View_Post{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{%static "styles/view_post.css"%}">
{%endblock%}

{%block content%}
    
        <div class="headerPost">
            <h1>Posts-item</h1>
            <div class="action-btns">
                {%if request.user.is_authenticated%}
                    {%if request.user == post.author%}
                        <a href="{%url 'update-post' post.id %}">edit</a>
                        <a class="del" href="{%url 'delete-post' post.id %}">delete</a>
                    {%endif%}
                {%endif%}
            </div>
        </div>
        <hr>
        <div class="post-item">  
            <div class="view-content">
                <div class="upper_view">
                    <div class="owner-view_profile">
                        <img src="{{post.get_owner_pic}}" class="picture_view" alt="picture">
                        <h4>
                             {{post.author}}
                        </h4>
                    </div>
                    <b>{{post.date_posted|date}}</b>
                </div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>        
            </div>      
        </div>
        <p class="space"></p>
{%endblock%}