{%extends "base.html"%}
{%load static %}

{%block title%}View_Post{%endblock%}

{%block css%}
    <link rel="stylesheet" href="{%static "styles/view_post.css"%}">
{%endblock%}

{%block content%}
    
        <div class="headerPost">
            <h1>Posts-item</h1>
            <a href="{% url 'create_post'%}">create_post</a>
        </div>
        <hr>
        <div class="post-item">  
            <div class="view-content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>        
            </div>      
        </div>
        <p class="space"></p>
{%endblock%}