*{
    padding: 0;
    margin: 0;
    transition: 0.5s;
}

main {
    background: linear-gradient(to right bottom, rgb(207, 243, 230), rgb(250, 241, 241));
}

header{
    display: flex;
    justify-content: space-between;
    box-shadow: inset 1px 1px 5px #333;
    padding: 20px;
    background-color: lightblue;
}
.links a{
    padding: 20px;
    color: #444;
    font-size: 25px;
    font-family: cursive ;
    font-weight: bolder;
    border-radius: 10px;
}
.links a:hover{
    background-color: rgb(27, 219, 27);
    color: snow;
}
a {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: sans-serif;
    color: #333;
    font-size: 25px;
}
a:hover{
    background-color: rgb(19, 185, 19);
}
.login{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: orange;
    font-size: 25px;
    cursor: pointer;
}
