{% load static%}
{% load django_bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <title>
        {%block title%}

        {%endblock%}
    </title>
    {%block css%}
    {%endblock%}
</head>
<body>
    {%include "navbar.html"%}

    <main style="background: linear-gradient(to right bottom, rgb(207, 243, 230), rgb(250, 241, 241));" >
        {%block content%}

        {%endblock%}
    </main>

    {% include "footer.html"%}

    {%block scrpts%}

    {%endblock%}
</body>
<style>
    *{
        padding: 0;
        margin: 0;
        transition: 0.5s;
    }
</style>
</html>